# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl

# Archive
archive/

# Other
*.zip

# OS files
.DS_Store
Thumbs.db
